<div class="header">
    
    <h1 class="title">Harley Benton</h1>
    
    <br><br>
    
    <p class="paragraf">Passion for music</p>
    <br><BR>
    <button class="button-header" onclick="window.location.href='https://harleybenton.com/about-us/';" type="button" >More about...</button>
    <br>
    <!-- <div class="img-container">
        <img class="img" src="https://harleybenton.com/app/uploads/2019/10/hb_category_header_guitars@2x.jpg" alt="header-image">
        <br>
    </div> -->
   
</div>
